/* 
 * card-layout. css 
 */
.card-row {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .card-row {
    grid-template-columns: repeat(2, 49%);
  }
}

@media only screen and (max-width: 640px) {
  .card-row {
    grid-template-columns: repeat(1, 100%);
  }
}
